.open_nav{
  display: inherit;
  margin-right: 20px;
  height: 52px;
  width: 52px;
  cursor: pointer;
}
@media (min-width: 960px) {
  .open_nav{
    display: none;
  }
}
.menuNav {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow: hidden;
    position: fixed;
    width: 0;
    height: 100vh;
    z-index: 10;
    background-color: rgb(155, 74, 231);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.menuNav.showMenu {
  width: 100%;
}
.menu_ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 450px;
}
.menu_li {
    padding: 0;
    list-style: none;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.menu_li:hover{
    color: rgb(211, 187, 233);
}
.link{
  color: black;
  text-decoration: none;
}
.link:hover{
    color: rgb(211, 187, 233);
}
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.close {
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 15;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
/* .navBar {
    position: relative;
  }
  
  .navBar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    width: 100%;
  }
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  } */