.container{
    width: 100%;
    max-width: 290px;
}
@media (min-width: 969px){
    .container{
        max-width: 360px;
    }

}
.aside_container{ 
    display: flex;
    margin-top: 16px;
    align-items: center;
	justify-content: center;
};