.main{
    max-width: 290px;
    font-size: 26px;
    border-radius: 8px;
	width: 100%;
	padding: 5px 2px;
	color: black;
	font-family: 'Odibee Sans', cursive;
	font-weight: 400;
	cursor: pointer;
}
.violet{
    background-color: rgb(179, 140, 216);
	border: 3px solid rgb(128, 38, 212);
}
.green{
    background-color: rgb(152, 238, 131);
    border: 3px solid rgb(64, 136, 46);
}
.red{
    background-color: rgb(240, 116, 116);
    border: 3px solid rgb(153, 42, 42);
}
.grey{
    background-color: rgb(184, 177, 185);
    border: 3px solid rgb(81, 77, 82);
}
.main:active{
    color: rgba(208, 212, 214, 0.918);
}
.main:hover{
    color: rgba(208, 212, 214, 0.918);
}
@media (min-width: 969px){
    .main{
        max-width: 360px;
        font-size: 30px;
        border-width: 4px;
        padding: 7px 3px;
    }
}